extends layout

block link
    -var selected = 'Search';

block content
    .panel.panel-primary
        .panel-heading
            p Result
        .panel-primary
            !{document}
    .well
        p raw xml
        pre(xml:lang='en') #{document}
