extends layout

block link
    -var selected = 'Search';

block content
    -var doc = document;
    .panel.panel-primary
        .panel-heading
            p title
        .panel-primary
            doc.TEI.text
    .well
        p raw xml
        pre(xml:lang='en') #{documentraw}
