extends layout

block link
    -var selected = 'Search';

block content
    -var downloadLink = '/download?file=' + name;
    .panel.panel-primary
        .panel-heading
            p Result
        .panel-primary
            !{document}
    .well
        p raw xml
        pre(xml:lang='en') #{document}

    a.btn.btn-default(href= downloadLink) Download
