extends layout

block link
  -var selected = 'Home';

block content
  h1 Colenso Project
  p
    form(method="POST", action="/upload", enctype="multipart/form-data")
      input(type="file", name="file")
      input(type="submit")
