extends layout

block link
  -var selected = 'Home';

block content
  h1 What
  h2 look at this
  .panel.panel-default
      .panel-heading very cool
      .panel-body wow
  p
  .panel.panel-danger
      .panel-heading dangerous
      .panel-body scary
  p
  .panel.panel-primary
      .panel-heading calming
      .panel-body nice
